# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Virtual environments
venv/

# Docker
*.pid
*.seed
*.bak
*.swp
.dockerignore

# VSCode or other editor settings
.vscode/
.idea/

# System
.DS_Store
Thumbs.db
backend/celerybeat-schedule.dat
backend/celerybeat-schedule.dir
